### 全体の設定 ##############################################

APP_CODE_PATH_HOST=../rails_app
APP_CODE_PATH_CONTAINER=/var/www
APP_CODE_CONTAINER_FLAG=:cached
DATA_PATH_HOST=~/.raildock/data

WORKSPACE_TIMEZONE=Asia/Tokyo

### RAILS ##############################################

RUBY_VERSION=2.7.1
WORKSPACE_BUNDLE_SOURCE=/usr/local/bundle


### MYSQL #################################################

MYSQL_VERSION=latest
MYSQL_DATABASE=default
MYSQL_USER=default
MYSQL_PASSWORD=secret
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_ENTRYPOINT_INITDB=./mysql/docker-entrypoint-initdb.d

### NGINX #################################################

NGINX_HOST_HTTP_PORT=80
NGINX_HOST_HTTPS_PORT=443
NGINX_HOST_LOG_PATH=./logs/nginx/
NGINX_SITES_PATH=./nginx/sites/
NGINX_SSL_PATH=./nginx/ssl/